.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.item-left {
  flex: 1;
}

.item-image {
  width: 64px;
  height: 64px;
  border: 1px solid #ccc;
  margin-right: 10px;
  float: left;
}

.item-title {
  font-weight: bold;
  margin-bottom: 0.4em;
}

.item-right {
  margin-bottom: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-price {
  text-align: right;
  font-size: 18px;
  color: #555;
}

.item-add-to-cart {
  margin-bottom: 5px;
  font-size: 14px;
  border: 2px solid #ffaa3f;
  background-color: #fff;
  border-radius: 3px;
}

.item-add-to-cart:hover {
  cursor: pointer;
  background-color: #ffddb2;
}

.item-add-to-cart:focus,
.item-add-to-cart:active {
  outline: none;
}

.item-add-to-cart:active {
  background-color: #ed8400;
  color: #fff;
}
